<div class="container">
    <div class="row justify-content-center  align-items-center">
        <div class="col-xs-12 col-sm-8 ">
            <div class="card mt-5">
                <div class="card-body">
                   <div class="card-title text-center text-primary">
                      <h3 class="text-uppercase"> Welcome <span class="text-muted">{{userName}}</span></h3>
                   </div>
                    <div class="content">
                        <div class="row mt-5 mb-5 text-center border-bottom pb-3">
                            <div class="col">
                                {{points}} Points
                            </div>
                            <div class="col">
                                Question 1 of 10
                            </div>
                            <div class="col">
                               Timer: 60 sec 
                            </div>
                        </div>
                        <h5 class="mb-4 ">Question Goes here for Quiz</h5>
                        <div class="list-group">
                            <button type="button" class="list-group-item list-group-item-action">A second item</button>
                            <button type="button" class="list-group-item list-group-item-action">A third button item</button>
                            <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
                            <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
                          </div>

                       <div class="bottom-cotent mt-5 d-flex justify-content-between">
                           <button class="btn btn-secondary">Previous</button>
                           <button class="btn btn-danger">Reset</button>
                           <button class="btn btn-secondary">Next</button>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>